global
{% include 'global.cfg.j2' %}

defaults
{% include 'defaults.cfg.j2' %}

{% include 'userlist.cfg.j2' %}

{% include 'resolvers.cfg.j2' %}

{% include 'listen.cfg.j2' %}

{% include 'frontend.cfg.j2' %}

{% include 'backend.cfg.j2' %}
